

footer{
    background-color: rgba(0, 0, 0, 0.658);
    color: white;
    font: .8rem sans-serif;
    position: fixed;
    overflow: hidden;
    align-items: right;
    bottom: 0;
    right: 0;
    margin: 0;
    width: 25%;
}

footer a, footer i{
    cursor: pointer;
    color: white;
    margin: 0 0.25rem 0 0;
}

footer a:hover, footer i:hover{
    color: blue;
}


@media (max-width: 1080px) and (min-width: 600px) {
    footer{
        width: 35%;
        font: 1rem sans-serif;
    }     
}

@media (max-width: 600px) {

footer{
    width: 50%;
}
}

